.modal-buttons {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.modal {
  position: absolute;
  left: 50%;
  height: 600px;
  font-size: 20px;
  transform: translate(-50%, 2%);
}

@media (max-width: 767px) {
  .modal {
    position: absolute;
    left: 0;
    transform: translate(0%, 2%);
    overflow: scroll;
  }
}
